{% extends 'base.html' %}
{% block gazette %}
{% load static %}

<div class="container py-5">
    <h3 class="py-2">स्थानीय राजपत्र-२०७९</h3>
    <div class="row">
        <div class="col-6">
            Name
        </div>
        <div class="col-4">
            Document
        </div>
        <div class="col-2">
            Post date
        </div>
    </div><hr/>
    {% for gazet in gazets %}
    <div class="row">
        <div class="col-6">
            {{gazet.name}}
        </div>
        <div class="col-4">
            <a href="{{gazet.document}}"><button class="btn btn-primary">Download</button></a>
        </div>
        <div class="col-2">
            {{gazet.date}}
        </div>
    </div><hr/>
    {% endfor %}
</div>

{% endblock gazette %}