{% extends 'base.html' %}
{% block gazette %}
{% load static %}

<div class="container py-5">
    <h3 class="py-2">स्थानीय राजपत्र-२०७९</h3>
    <div class="row">
        <div class="col-4">
            Name
        </div>
        <div class="col-4">
            Document
        </div>
        <div class="col-4">
            Post date
        </div>
    </div><hr/>
    <div class="row">
        <div class="col-4">
            आर्थिक ऐन, २०७९
        </div>
        <div class="col-4">
            <a href="https://www.bagchaurmun.gov.np/sites/bagchaurmun.gov.np/files/%E0%A4%86%E0%A4%B0%E0%A5%8D%E0%A4%A5%E0%A4%BF%E0%A4%95%20%E0%A4%90%E0%A4%A8%20%E0%A5%A8%E0%A5%A6%E0%A5%AD%E0%A5%AF.pdf"><button class="btn btn-primary">Download</button></a>
        </div>
        <div class="col-4">
            Tuesday, September 6, 2022 - 19:09
        </div>
    </div><hr/>
    <div class="row">
        <div class="col-4">
            विनियोजन ऐन, २०७९
        </div>
        <div class="col-4">
            <a href="https://www.bagchaurmun.gov.np/sites/bagchaurmun.gov.np/files/%E0%A4%B5%E0%A4%BF%E0%A4%A8%E0%A4%BF%E0%A4%AF%E0%A5%8B%E0%A4%9C%E0%A4%A8%20%20%E0%A4%90%E0%A4%A8%2C%20%E0%A5%A8%E0%A5%A6%E0%A5%AD%E0%A5%AF.pdf"><button class="btn btn-primary">Download</button></a>
        </div>
        <div class="col-4">
            Tuesday, September 6, 2022 - 19:09
        </div>
    </div><hr/>
    <div class="row">
        <div class="col-4">
            बागचौर नगरपालिका सचिवालय गठन तथा संचालन (कार्यविधि) नियमावली, २०७९
        </div>
        <div class="col-4">
            <a href="https://www.bagchaurmun.gov.np/sites/bagchaurmun.gov.np/files/%E0%A4%AC%E0%A4%BE%E0%A4%97%E0%A4%9A%E0%A5%8C%E0%A4%B0%20%E0%A4%A8%E0%A4%97%E0%A4%B0%E0%A4%AA%E0%A4%BE%E0%A4%B2%E0%A4%BF%E0%A4%95%E0%A4%BE%20%E0%A4%B8%E0%A4%9A%E0%A4%BF%E0%A4%B5%E0%A4%BE%E0%A4%B2%E0%A4%AF%20%E0%A4%97%E0%A4%A0%E0%A4%A8%20%E0%A4%A4%E0%A4%A5%E0%A4%BE%20%E0%A4%B8%E0%A4%82%E0%A4%9A%E0%A4%BE%E0%A4%B2%E0%A4%A8%20%28%E0%A4%95%E0%A4%BE%E0%A4%B0%E0%A5%8D%E0%A4%AF%E0%A4%B5%E0%A4%BF%E0%A4%A7%E0%A4%BF%29%20%E0%A4%A8%E0%A4%BF%E0%A4%AF%E0%A4%AE%E0%A4%BE%E0%A4%B5%E0%A4%B2%E0%A5%80%2C%20%E0%A5%A8%E0%A5%A6%E0%A5%AD%E0%A5%AF.pdf"><button class="btn btn-primary">Download</button></a>
        </div>
        <div class="col-4">
            Tuesday, September 6, 2022 - 19:09
        </div>
    </div><hr/>
    <div class="row">
        <div class="col-4">
           फोहरमैला व्यवस्थापन कार्यविधि, २०७९
        </div>
        <div class="col-4">
            <a href="https://www.bagchaurmun.gov.np/sites/bagchaurmun.gov.np/files/%E0%A4%AB%E0%A5%8B%E0%A4%B9%E0%A4%B0%E0%A4%AE%E0%A5%88%E0%A4%B2%E0%A4%BE%20%E0%A4%B5%E0%A5%8D%E0%A4%AF%E0%A4%B5%E0%A4%B8%E0%A5%8D%E0%A4%A5%E0%A4%BE%E0%A4%AA%E0%A4%A8%20%E0%A4%95%E0%A4%BE%E0%A4%B0%E0%A5%8D%E0%A4%AF%E0%A4%B5%E0%A4%BF%E0%A4%A7%E0%A4%BF%2C%20%E0%A5%A8%E0%A5%A6%E0%A5%AD%E0%A5%AF.pdf"><button class="btn btn-primary">Download</button></a>
        </div>
        <div class="col-4">
            Tuesday, September 6, 2022 - 19:09
        </div>
    </div><hr/>
    <div class="row">
        <div class="col-4">
            बागचौर नगरपालिका सचिवालय गठन तथा संचालन (कार्यविधि) नियमावली, २०७९
        </div>
        <div class="col-4">
            <a href="https://www.bagchaurmun.gov.np/sites/bagchaurmun.gov.np/files/%E0%A4%AC%E0%A4%BE%E0%A4%97%E0%A4%9A%E0%A5%8C%E0%A4%B0%20%E0%A4%A8%E0%A4%97%E0%A4%B0%E0%A4%AA%E0%A4%BE%E0%A4%B2%E0%A4%BF%E0%A4%95%E0%A4%BE%20%E0%A4%B8%E0%A4%9A%E0%A4%BF%E0%A4%B5%E0%A4%BE%E0%A4%B2%E0%A4%AF%20%E0%A4%97%E0%A4%A0%E0%A4%A8%20%E0%A4%A4%E0%A4%A5%E0%A4%BE%20%E0%A4%B8%E0%A4%82%E0%A4%9A%E0%A4%BE%E0%A4%B2%E0%A4%A8%20%28%E0%A4%95%E0%A4%BE%E0%A4%B0%E0%A5%8D%E0%A4%AF%E0%A4%B5%E0%A4%BF%E0%A4%A7%E0%A4%BF%29%20%E0%A4%A8%E0%A4%BF%E0%A4%AF%E0%A4%AE%E0%A4%BE%E0%A4%B5%E0%A4%B2%E0%A5%80%2C%20%E0%A5%A8%E0%A5%A6%E0%A5%AD%E0%A5%AF.pdf"><button class="btn btn-primary">Download</button></a>
        </div>
        <div class="col-4">
            Tuesday, September 6, 2022 - 19:09
        </div>
    </div><hr/>
    <div class="row">
        <div class="col-4">
            बागचौर नगरपालिका पुराना भवनहरु अभिलेखिकरण सम्वन्धि निर्देशिका,२०७९
        </div>
        <div class="col-4">
            <a href="https://www.bagchaurmun.gov.np/sites/bagchaurmun.gov.np/files/%E0%A4%AC%E0%A4%BE%E0%A4%97%E0%A4%9A%E0%A5%8C%E0%A4%B0%20%E0%A4%A8%E0%A4%97%E0%A4%B0%E0%A4%AA%E0%A4%BE%E0%A4%B2%E0%A4%BF%E0%A4%95%E0%A4%BE%20%E0%A4%AA%E0%A5%81%E0%A4%B0%E0%A4%BE%E0%A4%A8%E0%A4%BE%20%E0%A4%AD%E0%A4%B5%E0%A4%A8%E0%A4%B9%E0%A4%B0%E0%A5%81%20%E0%A4%85%E0%A4%AD%E0%A4%BF%E0%A4%B2%E0%A5%87%E0%A4%96%E0%A4%BF%E0%A4%95%E0%A4%B0%E0%A4%A3%20%E0%A4%B8%E0%A4%AE%E0%A5%8D%E0%A4%B5%E0%A4%A8%E0%A5%8D%E0%A4%A7%E0%A4%BF%20%E0%A4%A8%E0%A4%BF%E0%A4%B0%E0%A5%8D%E0%A4%A6%E0%A5%87%E0%A4%B6%E0%A4%BF%E0%A4%95%E0%A4%BE%2C%E0%A5%A8%E0%A5%A6%E0%A5%AD%E0%A5%AF.pdf"><button class="btn btn-primary">Download</button></a>
        </div>
        <div class="col-4">
            Tuesday, September 6, 2022 - 19:09
        </div>
    </div><hr/>
    <div class="row">
        <div class="col-4">
            बागचौर नगरपालिकामा करारमा प्राविधिक कर्मचारी व्यवस्थापन गर्ने सम्बन्धी कार्यविधि, २०७९
        </div>
        <div class="col-4">
            <a href="https://www.bagchaurmun.gov.np/sites/bagchaurmun.gov.np/files/%E0%A4%95%E0%A4%B0%E0%A4%BE%E0%A4%B0%E0%A4%AE%E0%A4%BE%20%E0%A4%AA%E0%A5%8D%E0%A4%B0%E0%A4%BE%E0%A4%B5%E0%A4%BF%E0%A4%A7%E0%A4%BF%E0%A4%95%20%E0%A4%95%E0%A4%B0%E0%A5%8D%E0%A4%AE%E0%A4%9A%E0%A4%BE%E0%A4%B0%E0%A5%80%20%E0%A4%B5%E0%A5%8D%E0%A4%AF%E0%A4%B5%E0%A4%B8%E0%A5%8D%E0%A4%A5%E0%A4%BE%E0%A4%AA%E0%A4%A8%20%E0%A4%97%E0%A4%B0%E0%A5%8D%E0%A4%A8%E0%A5%87%20%E0%A4%B8%E0%A4%AE%E0%A5%8D%E0%A4%AC%E0%A4%A8%E0%A5%8D%E0%A4%A7%E0%A5%80%20%E0%A4%95%E0%A4%BE%E0%A4%B0%E0%A5%8D%E0%A4%AF%E0%A4%B5%E0%A4%BF%E0%A4%A7%E0%A4%BF%2C%20%E0%A5%A8%E0%A5%A6%E0%A5%AD%E0%A5%AF.pdf"><button class="btn btn-primary">Download</button></a>
        </div>
        <div class="col-4">
            Tuesday, September 6, 2022 - 19:09
        </div>
    </div><hr/>
    <div class="row">
        <div class="col-4">
            विषयगत समितिको गठन तथा कार्य संचालन नियमावली,२०७९
        </div>
        <div class="col-4">
            <a href="https://www.bagchaurmun.gov.np/sites/bagchaurmun.gov.np/files/%E0%A4%B5%E0%A4%BF%E0%A4%B7%E0%A4%AF%E0%A4%97%E0%A4%A4%20%E0%A4%B8%E0%A4%AE%E0%A4%BF%E0%A4%A4%E0%A4%BF%E0%A4%95%E0%A5%8B%20%E0%A4%97%E0%A4%A0%E0%A4%A8%20%E0%A4%A4%E0%A4%A5%E0%A4%BE%20%E0%A4%95%E0%A4%BE%E0%A4%B0%E0%A5%8D%E0%A4%AF%20%E0%A4%B8%E0%A4%82%E0%A4%9A%E0%A4%BE%E0%A4%B2%E0%A4%A8%20%E0%A4%A8%E0%A4%BF%E0%A4%AF%E0%A4%AE%E0%A4%BE%E0%A4%B5%E0%A4%B2%E0%A5%80%2C%E0%A5%A8%E0%A5%A6%E0%A5%AD%E0%A5%AF.pdf"><button class="btn btn-primary">Download</button></a>
        </div>
        <div class="col-4">
            Tuesday, September 6, 2022 - 19:09
        </div>
    </div><hr/>
</div>

{% endblock gazette %}