{% extends 'base.html' %}
{% load static %}
  <title>{% block title %}Bagchaur Nagarpalika - Home{% endblock title %}</title>

  {% block body %}
  <!-- Carousel Here..... -->
 <div class="cl">
  <div class="container py-5">
    <div class="row row1">
        <div class="col-7">
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner px-2">
                    <div class="carousel-item active">
                      <iframe width="600" height="350" src="https://www.youtube.com/embed/8CGhrLgYHLI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                    <div class="carousel-item">
                      <iframe width="600" height="350" src="https://www.youtube.com/embed/kParKmFcfSk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                    <div class="carousel-item">
                      <iframe width="600" height="350" src="https://www.youtube.com/embed/-BBHSICaREI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                    <div class="carousel-item">
                      <iframe width="600" height="350" src="https://www.youtube.com/embed/75XC8pq8ejY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                  </div>
                  <div class="carousel-item">
                    <iframe width="600" height="350" src="https://www.youtube.com/embed/smGuF1QqHq0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-5 intro">
            <h5 class="pt-3">बागचौर नगरपालिको संक्षिप्त परिचय</h5>
            <p>पश्चिम नेपालको मध्य पहाडी भुभागमा अवस्थित कर्णाली प्रदेश अन्तर्गत साविक राप्ती अञ्चलको सल्यान जिल्लामा पर्ने बागचौर नगरपालिकाको उत्तरतर्फ पश्चिम रुकुम तथा दार्मा गाउँपालिका, दक्षिणतर्फ छत्रेश्वरी गाउँपालिका, पश्चिमतर्फ सिद्धकुमाख गाउँपालिका तथा शारदा नगरपालिका र पूर्वतर्फ रोल्पा जिल्ला रहेका छन् । <a href="{% url 'introduction' %}" class="link"> थप हेर्नुहोस्</a></p>
            <div class="row gap-3">
              <div class="col-5 t1">
                <img src="{% static 'images/t1.png' %}" alt="images">
                <h5>हाम्रो कानुन</h5>
              </div>
              <div class="col-5 t1">
                <img src="{% static 'images/t2.png' %}" alt="images">
                <h5>सुचनाको हक</h5>
              </div>
            </div>
          </div>
    </div>
   </div>
 </div>

  <!-- Card Here..... -->
  <div class="container-fluid main-card">
    <div class="card-group p-5 gap-5">
      <div class="card">
        <img src="{% static 'images/c1.jpg' %}" class="card-img-top h-50 w-100" alt="...">
        <div class="card-body">
          <h5 class="card-title">जनकराज गौतम</h5>
          <p class="card-text mt-3">नगर प्रमुख</p>
          <p class="card-text">janakrajgautam724@gmail.com</p>
          <p class="card-text">९८५७८२२७२४</p>
        </div>
      </div>
      <div class="card">
        <img src="{% static 'images/c2.jpg' %}" class="card-img-top h-50 w-100" alt="images">
        <div class="card-body">
          <h5 class="card-title">जनकराज गौतम</h5>
          <p class="card-text mt-3">नगर प्रमुख</p>
          <p class="card-text">janakrajgautam724@gmail.com</p>
          <p class="card-text">९८५७८२२७२४</p>
        </div>
      </div>
      <div class="card">
        <img src="{% static 'images/c3.jpg' %}" class="card-img-top h-50 w-100" alt="images">
        <div class="card-body">
          <h5 class="card-title">जनकराज गौतम</h5>
          <p class="card-text mt-3">नगर प्रमुख</p>
          <p class="card-text">janakrajgautam724@gmail.com</p>
          <p class="card-text">९८५७८२२७२४</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Our Gallery Here...... -->
  <div class="main-gallery">
    <h2 class="text-center text-white pt-4">ग्यालरी</h2>
  <div class="gallery">
    <div class="wrapper">
        <i id="left" class="fa-solid fa-angle-left"></i>
        <div class="carousel1">
          <img src="{% static 'images/g1.jpg' %}" alt="img" draggable="false">
          <img src="{% static 'images/g2.jpg' %}" alt="img" draggable="false">
          <img src="{% static 'images/g3.jpg' %}" alt="img" draggable="false">
          <img src="{% static 'images/g4.jpg' %}" alt="img" draggable="false">
          <img src="{% static 'images/g5.jpg' %}" alt="img" draggable="false">
          <img src="{% static 'images/g6.jpg' %}" alt="img" draggable="false">
          <img src="{% static 'images/g7.jpg' %}" alt="img" draggable="false">
          <img src="{% static 'images/g8.jpg' %}" alt="img" draggable="false">
          <img src="{% static 'images/g9.jpg' %}" alt="img" draggable="false">
        </div>
        <i id="right" class="fa-solid fa-angle-right"></i>
      </div>
  </div>
  </div>
  {% endblock body %}