{% extends 'base.html' %}
{% block introduction %}
{% load static %}
<div class="container py-5">
    <div class="row">
        <div class="col-12">
            <h3>संक्षिप्त परिचय</h3>
            <hr/>
            <h6>Submitted on: Fri, 06/05/2022 - 12:13</h6>
            <p>पश्चिम नेपालको मध्यपहाडी भू–भागमा अवस्थित कर्णाली प्रदेशअन्तर्गत साबिक राप्ती अञ्चलको सल्यान जिल्लामा पर्ने बागचौर नगरपालिकाको उत्तरतर्फ पश्चिम रुकुमको त्रिवेणी गाउँपालिका तथा सल्यान जिल्लाको दार्मा गाउँपालिका, दक्षिणतर्फ छत्रेश्वरी 
                गाउँपालिका, पश्चिमतर्फ सिद्धकुमाख गाउँपालिका तथा शारदा नगरपालिका र पूर्वतर्फ रोल्पा जिल्लाको गंगादेव गाउँपालिका रहेका छन् ।
                
                यस बागचौर नगरपालिकाको कुल क्षेत्रफल १६३.१४ वर्गकिलोमिटर रहेको छ । विश्व मानचित्रमा यसको अवस्थिति २८° २६’ उत्तरी अक्षांशदेखि  २८° ३१’ उत्तरी अक्षांश र ८२° १४’ पूर्वी देशान्तरदेखि ८२° २३’ पूर्वी देशान्तरसम्म छ ।
                
                २०७२ असोज १ गते देशमा २६ वटा नयाँ नगरपालिका थपिदा घोषणा भएको यस नगरपालिका समुद्र सतहबाट करिब ११०० मिटरदेखि २२०० मिटरको उचाइमा रहेको छ ।
                
                लौराबाङ शिर भएर बग्ने शारदा नदी नगरको प्रमुख नदी हो भने मोख्ला शिव गुफा मन्दिर यहाँको प्रमुख धार्मिक पर्यटकीय स्थल हो । पछिल्लो समय अग्ला टाकुरा भ्युटावर तथा पार्क यहाँको पर्यटकीय स्थलका रूपमा परिचित छ । राप्ती नदीको मुहानका रूपमा सुपरिचित बाँफुखोलाको पानीढल पनि यसै नगरमा अवस्थित छ । यहाँका अग्ला पहाडहरूमा विजयधुरी र मख्लामधुरी पनि महत्वपूर्ण पर्यटकीय गन्तव्यका रूपमा विकसित हुँदै छन् । 
                
                विक्रम संवत् २०६८ को राष्ट्रिय जनगणनापश्चात् बागचौर नगरपालिकाद्वारा विसं २०७७ मा घरधुरी सर्वेक्षण गरिएको छ । बागचौर नगरपालिकाको डिजिटल प्रोफाइल निर्माण गर्नेक्रममा उक्त तथ्यांक स्मार्ट पालिकाले सर्वेक्षण गरेको हो । सर्वेक्षण २०७७ अनुसार बागचौर नगरपालिकाको कुल घरधुरी ६,८८८ सहित कुल जनसंख्या ३५,११२ रहेको छ । जसमध्ये पुरुष ५०.७८ प्रतिशत (१७,८३१ जना) र महिला 
                ४९.२१ प्रतिशत (१७,२८१ जना) रहेका छन् । वडा नं. ४, ११ र १२ आलु उत्पादन र वडा नं. ३, ७, ८ र ९ सुन्तलाजात फलफूल उत्पादनको लागि विशेष क्षेत्र मानिएको छ । त्यस्तै वडा नं. 
                ५, ६ र ७ अदुवा र टिमुर उत्पादनको लागि उपयुक्त हावापानी भएको क्षेत्र मानिन्छन । पहाडी भिरालो जमिन खोटेसल्ला, साल, लालीगुराँस, उत्तिस, टुनी, जामुन, लाखुरी लगायतका बोटबिरुवाहरुले ढाकिएको बनजंगल, मध्यम प्रकारको हावापानी र तापक्रम यो क्षेत्रका प्राकृतिक विशेषताहरु हुन् ।
                <br/><br/>
                
                यस नगरपालिका क्षेत्रफलको हिसाबमा वडा नं. ७ (१८.५७ वर्गकिमि) सबैभन्दा ठूलो वडा हो भने वडा नं. ६ (८.७८ वर्गकिमि) सबैभन्दा सानो  वडा हो । साबिकका गाविस थारमारे, कोटमौला, कोटबारा, पीपलनेटा, बाँफुखोला र शिवरथलाई मिलाएर स्थापना गरिएको यस नगरपालिकामा संघीय संरचनाअनुसार कुल १२ वडा रहेका छन् । 
                
                बागचौर नगरपालिकामा ब्राह्मण, क्षेत्री, कामी, दमाई, मगर, ठकुरी, सार्की, गाइने आदि जातजातिको बसोवास रहेको पाइन्छ । यहाँका अधिकांश बासिन्दाले हिन्दु धर्म मान्छन् । यस नगरका मानिसको मुख्य पेसा कृषि हो । यहाँ सबैभन्दा बढी मकै, धान, गहुँ, जौ, आलु, कोदो, सुन्तला, अदुवा, टिमुर आदि उत्पादन हुने गरेको छ । बागचौर नगरपालिकाभित्र पर्ने मुख्य बजार क्षेत्रमा मोख्ला, कालाखेत, थारमारे, बागचौर, खरिबोट, रारेचौर, 
                बांगेलाखुरी, पेदीखोला, सिमखोली, बाँफुखोला, दोभानबजार, बगरबजार, रातामाटा, पातिहाल्न, कोटबारा टाट्केबजार, कोटमौला, पातिहाल्न सन्देशबजार, खोरबारे, पीपलनेटा, चौरपानी, रातापोखरा आदि पर्छन् । 
                
                समृद्ध नगरको परिकल्पना आत्मसात् गरी स्थानिय तहमा जनप्रतिनिधि आएपछि विकास र निकासले सार्थकता पाएको छ भने जिल्लामै एक उत्कृष्ट नगरपालिकाका रूपमा आफ्नो परिचय बनाउन सफल भएको छ– बागचौर नगरपालिका ।
                
                कुनै स्थानको नामाकरण गरिनुमा केही रहस्य पक्कै लुकेको हुन्छ । परापूर्वकालमा नामाकरण गरिएका धेरैजसो स्थानको अहिलेसम्म पनि कुनै खास तथ्यको खोजी गरिएको विरलै हुन्छ भने खोजी नगर्नाले समयसँगै विलीन हुने गरेको पाइन्छ । यसै सन्दर्भमा संघीयतापछिको पहिलो स्थानीय तहको निर्वाचन सम्पन्न भएपछि ‘बागचौर’ नामाकरण हुनुको इतिहास खोज्ने प्रयास यस नगरपालिकाले गरेको छ । 
                
                बागचौर नाम कसरी रहन गयो भन्ने प्रश्नमा जनश्रुति तथा स्थलगत अध्ययन गर्दा ठोस रूपले यकिन हुन नसके पनि बूढापाकाहरूबाट मूलतः दुई प्रसंग भेटियो । पहिलो प्रसंगअनुसार यही तथ्यमा थोरै फरक कुराको उठान गर्दै केहीले ‘बाघ’लाई गाउँघरको भाषामा ‘बाग’ भन्ने गरेको र ‘बाग’ बस्ने चौर भएका कारण यसको नाम ‘बागचौर’ रहन गएको हुन सक्ने बताउँछन् । यसैगरी, अर्को तथ्यअनुसार नेपाली शब्दकोशमा ‘बाग’को शाब्दिक अर्थ ‘बगैंचा’ भनेर उल्लेख छ । अर्थात् परापूर्वकालको कुनै समयमा 
                यस ठाउँमा फलफूल या बिरुवा भएको बगैंचा थियो होला । त्यसरी बाग अर्थात् बगैंचा भएको चौर हुनाले यसको नाम ‘बागचौर’ रहन गएको हुनसक्छ ।</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <img src="{% static 'images/cl2.jpg' %}" width="100%" height="500vh" alt="Bagchaur Nagarpalika">
        </div>
    </div>
</div>
{% endblock introduction %}