
{% extends 'base.html' %}
{% block title %} Search Result{% endblock title %}
{% block search %}
{% load static %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h4>नगरपालिकाका निर्णयहरु</h4>
        </div>
    </div><hr>
    {% for municiple in municiples %}
    <div class="row py-3">
        <div class="col-5">
            <p>Submitted on: {{municiple.date}}</p>
        </div>
        <div class="col-5">
            <h6>{{municiple.title}}</h6>
        </div>
        <div class="col-2">
            <a href="{{municiple.document}}"><button class="btn btn-primary">Download</button></a>
        </div>
    </div>
    
    {% endfor %}
    
</div>

{% endblock search %}