{% extends 'base.html' %}
{% block title %}ward4{% endblock title %}
{% block ward4 %}
{% load static %}
<div class="container">
    <div class="row">
        <div class="col-8">
            <h4>वडा नं. ४</h4>
        </div>
        <div class="col-4">
            <h4>पदाधिकारी / कर्मचारी</h4>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-8">
            <p>
                Submitted on: Mon, 03/05/2022 - 10:09
                नगरपालिकाको वडा नं. ४ साबिक शिवरथ गाउँ विकास समितिका वडाहरू १, २, ३, ४ र ९ मिलेर बनेको छ । वडा नं. ४ को क्षेत्रफल १४.६३ वर्गकिमि रहेको छ । यस वडाको डिजिटल सर्भेअनुसार कुल घरधुरी संख्या ६९२ रहेको छ । यस वडाको कुल जनसंख्या ३,५०३ रहेको छ । जसमा पुरुष १,७६५, महिला १,७३८ र अन्य शून्य रहेको छ । सर्भेअनुसार कुल साक्षर जनसंख्या २,३६६ रहेको छ । साक्षर पुरुषको जनसंख्या १,२६५ र साक्षर महिलाको जनसंख्या १,१०१ रहेको छ । यहाँ मगर समुदायको बाहुल्यता रहेको छ ।

                बेमौसमी तरकारी तथा आलु उत्पादनको लागि पनि उपयुक्त रहेको यो वडामा बसोवास गर्ने व्यक्तिको मुख्य पेसा कृषि तथा पशुपंक्षीपालन रहेको छ । यसबाहेक व्यापार, व्यवसाय तथा घरेलु उद्योग, थोक तथा खुद्रा व्यापार, शिक्षण, बैदेशिक रोजगार, सरकारी सेवाका साथै होटल, पर्यटन जस्ता आयआर्जनका पेसाबाट यहाँका जनताले आफ्नो जीविकोपार्जन गर्ने गर्छन् । आलु, मकै, गहुँ, धान तथा बेमौसमी तरकारी खेतीका लागि राम्रो मानिएको छ ।
            </p>

            <h6>जनसंख्या: ३५०३</h6>
            <h6>वडाको सम्पर्क नम्बर: ९८४९०३९५००</h6>

        </div>
        <div class="col-2">
            {% for ward4 in wards4 %}
            <div class="row text-center">
                <img src="/media/{{ward4.photo}}" class="py-2" height="200px" width="100px" alt="photo">
                <h6>{{ward4.name}}</h6>
                <p>{{ward4.post}}<br />
                    {{ward4.phone}}
                </p>
            </div><hr/>
            {% endfor %}
        </div>

    </div>
</div>

{% endblock ward4 %}