{% extends 'base.html' %}
{% block title %}ward5{% endblock title %}
{% block ward5 %}
{% load static %}
<div class="container">
    <div class="row">
        <div class="col-8">
            <h4>वडा नं. ५</h4>
        </div>
        <div class="col-4">
            <h4>पदाधिकारी / कर्मचारी</h4>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-8">
            <p>
                Submitted on: Mon, 03/05/2022 - 10:09
                नगरपालिकाको वडा नं. ५ साबिक शिवरथ गाउँ विकास समितिका वडाहरू ५, ६, ७ र ८ मिलेर बनेको छ । वडा ५ को
                क्षेत्रफल १३.७४ वर्गकिमि रहेको छ । यस वडाको डिजिटल सर्भेअनुसार कुल घरधुरी सब्ख्या ६३५ रहेको छ । यस वडाको
                कुल जनसब्ख्या ३,४६१ रहेको छ । जसमा पुरुष १,७८४, महिला १,६७७ र अन्य शून्य रहेको छ । सर्भेअनुसार कुल
                साक्षर जनसब्ख्या २,५३८ रहेको छ । साक्षर पुरुषको जनसब्ख्या १,३८५ रहेको छ भने साक्षर महिलाको जनसब्ख्या
                १,१५३ रहेको छ ।
                वडामा बसोवास गर्ने वडावासीहरुको मुख्य पेसा कृषि रहेको छ । यस वडामा अदुवा, बेसार, टिमुर, मकै, गहुँ तथा
                बेमौसमी तरकारी खेतीका लागि राम्रो मानिएको छ । यसबाहेक व्यापार व्यवसाय तथा घरेलु उद्योग, थोक तथा खुद्रा
                व्यापार, शिक्षण, वैदेशिक रोजगारी, सरकारी सेवाका साथै होटल, पर्यटन जस्ता आयआर्जनका पेसाबाट यहाँका जनताले
                आफ्नो जीविकोपार्जन गर्ने गरेका छन् ।

                सहिद भरत प्रसाद वलीको सम्मान तथा स्मरणमा जनयुद्धकालमा स्थापना गरिएको विद्यालय श्री सहिद भरत स्मृति
                आधारभुत विद्यालयलाई माध्यमिक तहमा अपग्रेड गरिएको छ भने चारकोठे, दुई कोठे पक्की भवनहरु, आईसिटी ल्याबको
                स्थापना, घेराबार तथा प्रवेशद्वार निर्माण, शौचालय निर्माण लगायतका कार्यहरु भएका छन् भने अन्य सामुदायिक
                विद्यालयहरुमा शैक्षिक एवम् भौतिक सुधारका विभिन्न कार्यहरु सम्पन्न भएका छन् ।
            </p>

            <h6>जनसंख्या: ३५३८</h6>
            <h6>वडाको सम्पर्क नम्बर: ९८५७८२२४०८</h6>

        </div>
        <div class="col-2">
            {% for ward5 in wards5 %}
            <div class="row text-center">
                <img src="/media/{{ward5.photo}}" class="py-2" height="200px" width="100px" alt="photo">
                <h6>{{ward5.name}}</h6>
                <p>{{ward5.post}}<br />
                    {{ward5.phone}}
                </p>
            </div><hr/>
            {% endfor %}
        </div>

    </div>
</div>

{% endblock ward5 %}