{% extends 'base.html' %}
{% block title %}ward3{% endblock title %}
{% block ward3 %}
{% load static %}
<div class="container">
    <div class="row">
        <div class="col-8">
            <h4>वडा नं. ३</h4>
        </div>
        <div class="col-4">
            <h4>पदाधिकारी / कर्मचारी</h4>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-8">
            <p>
                Submitted on: Mon, 03/05/2022 - 10:09
                बागचौर नगरपालिकाको वडा नं. ३ साबिक थारमारे गाउँ विकास समितिका वडाहरू ६, ७ र ९ मिलेर बनेको छ । वडा ३ को
                क्षेत्रफल १८.११ वर्गकिमि रहेको छ । यस वडाको डिजिटल सर्भे अनुसार कुल घरधुरी संख्या ४९१ रहेको छ । यस वडाको
                कुल जनसंख्या २,८१९ रहेको छ । जसमा पुरुष १,४७६, महिला १,३४३ र अन्य शून्य रहेको छ । सर्भेअनुसार कुल साक्षर
                जनसंख्या १,४१८ रहेको छ । साक्षर पुरुषको जनसंख्या ७४५ र साक्षर महिलाको जनसंख्या ६७३ रहेको छ ।

                यस वडामा कृषि मुख्य पेशाको रुपमा रहेको छ । कृषि बाहेक व्यापार व्यवसाय, थोक तथा खुद्रा व्यापार, शिक्षण,
                बैदेशिक रोजगारी, सरकारी सेवाका साथै होटल, पर्यटन जस्ता आयआर्जनका पेसाबाट यहाँका जनताले आफ्नो
                जीविकोपार्जन गर्ने गर्छन् ।

                मकै, गहुँ, धान, सुन्तला तथा बेमौसमी तरकारी खेतीका लागि यो वडा राम्रो मानिएको छ । व्यवसायिक कृषि
                प्रवर्द्धन गर्न यो वडामा विशेष ध्यान दिइएको छ ।
            </p>

            <h6>जनसंख्या: २८९३</h6>
            <h6>वडाको सम्पर्क नम्बर: ९८०६२०४२६२</h6>

        </div>
        <div class="col-2">
            {% for ward3 in wards3 %}
            <div class="row text-center">
                <img src="/media/{{ward3.photo}}" class="py-2" height="200px" width="100px" alt="photo">
                <h6>{{ward3.name}}</h6>
                <p>{{ward3.post}}<br />
                    {{ward3.phone}}
                </p>
            </div><hr/>
            {% endfor %}
        </div>

    </div>
</div>

{% endblock ward3 %}