{% extends 'base.html' %}
{% block title %}ward10{% endblock title %}
{% block ward10 %}
{% load static %}
<div class="container">
    <div class="row">
        <div class="col-8">
            <h4>वडा नं. १०</h4>
        </div>
        <div class="col-4">
            <h4>पदाधिकारी / कर्मचारी</h4>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-8">
            <p>
                Submitted on: Mon, 03/05/2022 - 10:09
                नगरपालिकाको वडा नं. १० साबिक पीपलनेटा गाउँ विकास समिति अन्तर्गतका सम्पूर्ण ९ वटै वडाहरू मिलेर बनेको छ ।
                वडा नं. १० को क्षेत्रफल १०.५६ वर्गकिमि छ । वडा नं. १० को डिजिटल सर्भेअनुसार कुल घरधुरी संख्या ५३८ रहेको
                छ । यसैगरी, बागचौर नगरपालिका वडा नं. १० को कुल जनसंख्या२,४८५ रहेको छ । जसमा पुरुष १,२०७, महिला १,२७८ र
                अन्य शून्य रहेको छ । सर्भेअनुसार कुल साक्षर जनसंख्या१,८८१ रहेको छ । साक्षर पुरुषको जनसंख्या१,००१ रहेको छ
                भने साक्षर महिलाको जनसंख्या८८० रहेको छ ।
                यो वडा अदुवा, बेसार, टिमुर, मकै, गहुँ, धान तथा बेमौसमी तरकारी खेतीका लागि राम्रो मानिएको छ । वडामा
                बसोवास गर्ने व्यक्तिको मुख्य पेसा कृषि तथा पशुपंक्षीपालन रहेको छ । यसबाहेक व्यापार व्यवसाय तथा उद्योग,
                थोक तथा खुद्रा व्यापार, शिक्षण, वैदेशिक रोजगारी, सरकारी सेवाका साथै होटल, पर्यटन तथा सेवाजस्ता आय
                आर्जनका पेसाबाट वडावासीले जीविकोपार्जन गर्ने गर्छन् ।
            </p>

            <h6>जनसंख्या: २४८५</h6>
            <h6>वडाको सम्पर्क नम्बर: ९८४७९०७९९४</h6>

        </div>
        <div class="col-2">
            {% for ward10 in wards10 %}
            <div class="row text-center">
                <img src="/media/{{ward10.photo}}" class="py-2" height="200px" width="100px" alt="photo">
                <h6>{{ward10.name}}</h6>
                <p>{{ward10.post}}<br />
                    {{ward10.phone}}
                </p>
            </div>
            {% endfor %}
        </div>

    </div>
</div>

{% endblock ward10 %}