{% extends 'base.html' %}
{% block title %}ward7{% endblock title %}
{% block ward7 %}
{% load static %}
<div class="container">
    <div class="row">
        <div class="col-8">
            <h4>वडा नं. ७</h4>
        </div>
        <div class="col-4">
            <h4>पदाधिकारी / कर्मचारी</h4>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-8">
            <p>
                Submitted on: Mon, 03/05/2022 - 10:09
                भौगोलिक हिसाबले सबैभन्दो ठुलो रहेको नगरपालिकाको वडा नं. ७ साबिक कोटबारा गाउँ विकास समितिका वडाहरू १, ६, ७, ८ र ९ मिलेर बनेको छ । वडा नं. ७ को क्षेत्रफल १८.५७ वर्गकिमि रहेको छ । भौगोलिक हिसाबले यो नगरपालिकाकै सबैभन्दा ठूलो वडा हो । बागचौर नगरपालिका वडा नं. ७ को डिजिटल सर्भेअनुसार कुल घरधुरी संख्या७०७ रहेको छ । यस वडाको कुल जनसंख्या३,७४० रहेको छ । जसमा पुरुष १,८७८, महिला १,८६२ र अन्य शून्य रहेको छ । सर्भेअनुसार कुल साक्षर जनसंख्या२,७५० रहेको छ । साक्षर पुरुषको जनसंख्या१,४८० रहेको छ भने साक्षर महिलाको जनसंख्या१,२७० रहेको छ । यहाँ बाहुन, क्षेत्री, मगर, दलित लगायतका समुदायको मिश्रीत बसोबास रहेको छ ।
                अदुवा, सुन्तला, बेसार, टिमुर, मकै, गहुँ, धान तथा बेमौसमी तरकारी खेतीका लागि राम्रो मानिएको छ । वडामा बसोवास गर्ने व्यक्तिको मुख्य पेसा कृषि तथा पशुपंक्षीपालन रहेको छ । यसबाहेक व्यापार व्यवसाय तथा उद्योग, थोक तथा खुद्रा व्यापार, शिक्षण, बैदेशिक रोजगारी, सरकारी सेवाका साथै होटल, पर्यटन तथा सेवाजस्ता आयआर्जनका पेसाबाट यहाँका जनताले आफ्नो जीविकोपार्जन गर्ने गरेका छन् ।
            </p>

            <h6>जनसंख्या: ३७४०</h6>
            <h6>वडाको सम्पर्क नम्बर: ९८५७८४७५५५</h6>

        </div>
        <div class="col-2">
            {% for ward7 in wards7 %}
            <div class="row text-center">
                <img src="/media/{{ward7.photo}}" class="py-2" height="200px" width="100px" alt="photo">
                <h6>{{ward7.name}}</h6>
                <p>{{ward7.post}}<br />
                    {{ward7.phone}}
                </p>
            </div>
            {% endfor %}
        </div>

    </div>
</div>

{% endblock ward7 %}