{% extends 'base.html' %}
{% block title %}ward8{% endblock title %}
{% block ward8 %}
{% load static %}
<div class="container">
    <div class="row">
        <div class="col-8">
            <h4>वडा नं. ८</h4>
        </div>
        <div class="col-4">
            <h4>पदाधिकारी / कर्मचारी</h4>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-8">
            <p>
                Submitted on: Mon, 03/05/2022 - 10:09
                नगरपालिकाको वडा नं. ८ साबिक कोटमौला गाउँ विकास समितिका वडाहरू १, २, ३, ४ र ५ मिलेर बनेको छ । वडा नं. ८
                को क्षेत्रफल ९.५६ वर्गकिमि रहेको छ । बागचौर नगरपालिका वडा नं. ८ को डिजिटल सर्भेअनुसार कुल घरधुरी संख्या
                ४४९ रहेको छ । यस वडाको कुल जनसंख्या २,३०६ रहेको छ । जसमा पुरुष १,१६६, महिला ११४० र अन्य शून्य रहेको छ ।
                सर्भेअनुसार कुल साक्षर जनसंख्या १,७५० रहेको छ । साक्षर पुरुषको जनसंख्या ९७६ रहेको छ भने साक्षर महिलाको
                जनसंख्या ७८३ रहेको छ ।
                सुन्तला उत्पादनमा विशेष मानिएको यो वडामा अदुवा, बेसार, टिमुर, मकै, गहुँ, धान तथा बेमौसमी तरकारी खेतीका
                लागि पनि राम्रो मानिएको छ । वडामा बसोवास गर्ने व्यक्तिको मुख्य पेसा कृषि तथा पशुपंक्षीपालन रहेको छ ।
                यसबाहेक व्यापार व्यवसाय तथा उद्योग, थोक तथा खुद्रा व्यापार, शिक्षण, वैदेशिक रोजगार, सरकारी सेवाका साथै
                होटल, पर्यटन तथा सेवाजस्ता आयआर्जनका पेसाबाट यहाँका जनताले आफ्नो जीविकोपार्जन गर्ने गरेका छन् ।
            </p>

            <h6>जनसंख्या: २३०६</h6>
            <h6>वडाको सम्पर्क नम्बर: ९८५७८३६७७२</h6>

        </div>
        <div class="col-2">
            {% for ward8 in wards8 %}
            <div class="row text-center">
                <img src="/media/{{ward8.photo}}" class="py-2" height="200px" width="100px" alt="photo">
                <h6>{{ward8.name}}</h6>
                <p>{{ward8.post}}<br />
                    {{ward8.phone}}
                </p>
            </div>
            {% endfor %}
        </div>

    </div>
</div>

{% endblock ward8 %}