{% extends 'base.html' %}
{% block title %}ward1{% endblock title %}
{% block ward1 %}
{% load static %}
<div class="container">
    <div class="row">
        <div class="col-8">
            <h4>वडा नं. १</h4>
        </div>
        <div class="col-4">
            <h4>पदाधिकारी / कर्मचारी</h4>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-8">
            <p>
                Submitted on: Mon, 03/05/2022 - 10:09<br />
                बागचौर नगरपालिकाको वडा नम्बर १ साबिक थारमारे गाउँ विकास समितिका तीन वडा मिलेर बनेको वडा हो । यो वडामा
                साबिकको
                थारमारे गाविसका वडा नं. १, २, ३ गाभिएका छन् । १५.६६ वर्गकिमि क्षेत्रफल रहेको यस वडाको डिजिटल सर्भेअनुसार
                कुल
                घरधुरी सब्ख्या ५७६ रहेको छ । यस वडाको कुल जनसंख्या २,८९३ रहेको छ । जसमा पुरुष १,४९९, महिला १,३९४ र अन्य
                शून्य रहेको छ ।
                सर्भे अनुसार कुल साक्षर जनसंख्या १,९८९ रहेको छ । साक्षर पुरुषको जनसंख्या १,१२६ रहेको छ र साक्षर महिलाको
                जनसंख्या ८६३ रहेको छ ।
                यस वडावासीको मुख्य पेसा कृषि तथा पशुपालन हो । कृषियोग्य जमिन प्रशस्तै रहेको वडामा धान, मकै, गहुँ,
                मौसमअनुसारका नगदेबाली
                उब्जाउ हुने गरेका छन् । योबाहेक साना व्यापार व्यवसाय, थोक तथा खुद्रा व्यापार, शिक्षण, बैदेशिक रोजगारी,
                सरकारी सेवाका साथै होटल
                जस्ता आयआर्जनका पेसा पनि यहाँका बासिन्दाले अँगालेका छन् ।
            </p>

            <h6>जनसंख्या: २८९३</h6>
            <h6>वडाको सम्पर्क नम्बर: 9851174814</h6>

        </div>
        <div class="col-2">
            {% for ward1 in wards1 %}
            <div class="row  text-center">
                <img src="/media/{{ward1.photo}}" class="py-2" height="200px" width="50%" alt="photo">
                <h6>{{ward1.name}}</h6>
                <p>{{ward1.post}}<br />
                    {{ward1.phone}}
                </p>
            </div><hr/>
            {% endfor %}
        </div>

    </div>
</div>

{% endblock ward1 %}