{% extends 'base.html' %}
{% block title %}ward2{% endblock title %}
{% block ward2 %}
{% load static %}
<div class="container">
    <div class="row">
        <div class="col-8">
            <h4>वडा नं. २</h4>
        </div>
        <div class="col-4">
            <h4>पदाधिकारी / कर्मचारी</h4>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-8">
            <p>
                Submitted on: Mon, 03/05/2022 - 10:09
                साबिकको थारमारे गाउँ विकास समितिका वडाहरू ४, ५ र ८ मिलेर बनेको बागचौर नगरपालिका वडा नं. २ को क्षेत्रफल
                १५.६६ वर्गकिमि रहेको छ । यस वडाको डिजिटल सर्भेअनुसार कुल घरधुरी सब्ख्या ७६३ रहेको छ । यस वडाको कुल
                जनसब्ख्या ३,६८७ रहेको छ । जसमा पुरुष १,९०९, महिला १,७७८ र अन्य शून्य रहेको छ ।

                यस वडामा मकै, गहुँ, धान तथा बेमौसमी तरकारी खेतीका लागि राम्रो मानिएको छ । अधिकांश वडावासी कृषि र
                पशुपंक्षीपालन मार्फत जीविकोपार्जन गर्दै आएका छन् । यसबाहेक व्यापार व्यवसाय गरेर समेत आम्दानी गर्दै आएका
                यहाँका जनताले थोक तथा खुद्रा व्यापार, शिक्षण, वैदेशिक रोजगारी, सरकारी सेवाका साथै होटल, पर्यटन व्यवसायका
                माध्यामबाट आयआर्जनका पेसा पनि अँगालेका छन् । डाँगी जातीको उद्गम थलोका रुपमा रहेको अग्लाटाकुरा लस्तम पनि
                यसै वडामा रहेको छ । यो वडामा थारमारे, बागचौर र खरिबोटलाई मुख्य बजारका रुपमा हेरिन्छ ।

                <br/><br/>

                प्रशासनिक केन्द्रहरुका साथै नगर कार्यपालिकाको कार्यालय पनि यसै वडामा अवस्थित छ । नगरको एकमात्र
                स्नातकोत्तर तहसम्म पढाइ हुने जनकल्याण क्याम्पस, प्राथमिक स्वास्थ्य केन्द्र, प्राथमिक आँखा तथा कान उपचार
                केन्द्र, ईलाका प्रशासन कार्यालय, ईलाका हुलाक कार्यालय, ईलाका प्रहरी कार्यालय, बैंक तथा वित्तीय
                संस्थाहरु, वन डिभिजन कार्यालय जस्ता निकायहरु रहेको यो वडा बागचौर नगरपालिकाको प्रशासनिक, शैक्षिक तथा
                व्यापारिक केन्द्र हो । यस वडामा प्रावधिक धार कार्यक्रम अन्तर्गत कृषि बाली विज्ञान विषय सहित पठनपाठन हुने
                नमुना विद्यालयको रुपमा श्री जनकल्याण नमुना माध्यमिक विद्यालय रहेको छ ।



                जिल्लाकै पहिलो ट्राफिक आइलन पनि बागचौर नगरपालिकाको यसै वडामा निर्माण भएको छ । बजार क्षेत्रमा हुने
                अपराधिक घटनालाई न्यूनिकरण गर्नका लागि सिसि क्यामरा जडानका साथै थारमारे र बागचौर बजारमा सडक बत्तीहरु
                राखिएको छ । खरिबोट बजारमा सार्वजनिक शौचालय निर्माण गरिएको छ । जसले खुला दिसापिसाव बन्द भई नगरलाई स्वच्छ
                राख्न सघाउ पुगेको छ । बागचौर बजारमा शहिद पार्क निर्माण

                तथा पिपल चौतारा पार्क पनि निर्माण गरिएको छ । पोष्टमार्टम भवन, घाट जाने बाटो र सार्वजनिक प्रतिक्षालयको
                पनि निर्माण गरिएको छ ।

                बागचौर २ ठाँटीचौरमा विद्युत सवस्टेसन निर्माणको काम अगाडी बढेको छ ।
            </p>

            <h6>जनसंख्या: ३६८७</h6>
            <h6>वडाको सम्पर्क नम्बर: ९८४५०४१८२२</h6>

        </div>
        <div class="col-2">
            {% for ward2 in wards2 %}
            <div class="row text-center">
                <img src="/media/{{ward2.photo}}" class="py-2" height="200px" width="100px" alt="photo">
                <h6>{{ward2.name}}</h6>
                <p>{{ward2.post}}<br />
                    {{ward2.phone}}
                </p>
            </div><hr/>
            {% endfor %}
        </div>

    </div>
</div>

{% endblock ward2 %}