{% extends 'base.html' %}
{% block title %}ward6{% endblock title %}
{% block ward6 %}
{% load static %}
<div class="container">
    <div class="row">
        <div class="col-8">
            <h4>वडा नं. ६</h4>
        </div>
        <div class="col-4">
            <h4>पदाधिकारी / कर्मचारी</h4>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-8">
            <p>
                Submitted on: Mon, 03/05/2022 - 10:09
                बागचौर नगरपालिकाको वडा नं. ६ साबिक कोटबारा गाउँ विकास समितिका वडाहरू २, ३, ४ र ५ मिलेर बनेको छ । वडा ६ को क्षेत्रफल ८.७८ वर्गकिमि रहेको छ । क्षेत्रफलका हिसाबले यो सबैभन्दा सानो वडा हो । बागचौर नगरपालिका वडा नं. ६ को डिजिटल सर्भेअनुसार कुल घरधुरी संख्या५११ रहेको छ । यस वडाको कुल जनसंख्या२,१०८ रहेको छ । जसमा पुरुष १,०६५, महिला १,०४३ र अन्य शून्य रहेको छ । सर्भेअनुसार कुल साक्षर जनसंख्या१,७८० रहेको छ । साक्षर पुरुषको जनसंख्या९२४ रहेको छ र साक्षर महिलाको जनसंख्या८५६ रहेको छ । ओली जातीको उद्गम थलो हिमचौर यसै वडामा पर्दछ ।
                अदुवा, बेसार, टिमुर, मकै, गहुँ तथा बेमौसमी तरकारी खेतीका लागि यो वडा राम्रो मानिएको छ । वडामा बसोवास गर्ने व्यक्तिको मुख्य पेसा कृषि रहेको छ । यसबाहेक व्यापार, व्यवसाय तथा घरेलु उद्योग, थोक तथा खुद्रा व्यापार, शिक्षण, वैदेशिक रोजगारी, सरकारी सेवाका साथै होटल, पर्यटन जस्ता आयआर्जनका पेसाबाट वडावासीले आफ्नो जीविकोपार्जन गर्ने गरेका छन् ।
                
                श्री सरस्वती आधारभुत विद्यालयलाई माध्यमिक तहमा अपग्रेड गरिएको छ भने चारकोठे पक्की भवन निर्माण, आईसिटी ल्याबको पनि स्थापना गरिएको छ । प्रविधी प्रयोगमा पहुँच बढाउन तयार पारिएको आईसिटी ल्याब प्रभावकारी भएको छ । सामुदायिक विद्यालयका भवन निर्माण तथा शैक्षिक एवम् भौतिक सुधारमा विशेष कार्यहरु पनि भएका छन् ।
            </p>

            <h6>जनसंख्या: २१०८</h6>
            <h6>वडाको सम्पर्क नम्बर: ९८५७८२१८४५</h6>

        </div>
        <div class="col-2">
            {% for ward6 in wards6 %}
            <div class="row text-center">
                <img src="/media/{{ward6.photo}}" class="py-2" height="200px" width="100px" alt="photo">
                <h6>{{ward6.name}}</h6>
                <p>{{ward6.post}}<br />
                    {{ward6.phone}}
                </p>
            </div>
            {% endfor %}
        </div>

    </div>
</div>

{% endblock ward6 %}