{% extends 'base.html' %}
{% block title %}ward9{% endblock title %}
{% block ward9 %}
{% load static %}
<div class="container">
    <div class="row">
        <div class="col-8">
            <h4>वडा नं. ९</h4>
        </div>
        <div class="col-4">
            <h4>पदाधिकारी / कर्मचारी</h4>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-8">
            <p>
                Submitted on: Mon, 03/05/2022 - 10:09
                बाचौर नगरपालिकाको वडा नं. ९ साबिक कोटमौला गाउँ विकास समितिका वडाहरू ६, ७, ८ र ९ मिलेर बनेको छ । यस वडाको
                क्षेत्रफल १४.३७ वर्गकिमि रहेको छ । वडा नं. ९ को डिजिटल सर्भेअनुसार कुल घरधुरी संख्या ७१५ रहेको छ । यस
                वडाको कुल जनसंख्या ३,५७६ रहेको छ । जसमा पुरुष १,८२९, महिला १,७४७ र अन्य शून्य रहेको छ । सर्भेअनुसार कुल
                साक्षर जनसंख्या २,६४९ रहेको छ । साक्षर पुरुषको जनसंख्या १,४६० छ भने साक्षर महिलाको जनसंख्या १,१८९ रहेको
                छ ।
                सुन्तला उत्पादनमा विशेष मानिएको यो वडामा अदुवा, बेसार, टिमुर, मकै, गहुँ, धान तथा बेमौसमी तरकारी खेतीका
                लागि पनि राम्रो मानिएको छ । वडामा बसोवास गर्ने व्यक्तिको मुख्य पेसा कृषि तथा पशुपंक्षीपालन रहेको छ ।
                यसबाहेक व्यापार व्यवसाय तथा घरेलु उद्योग, थोक तथा खुद्रा व्यापार, शिक्षण, वैदेशिक रोजगारी, सरकारी सेवाका
                साथै होटल, पर्यटन तथा सेवाजस्ता आयआर्जनका पेसाबाट यहाँका जनताले आफ्नो जीविकोपार्जन गर्ने गर्छन् ।
            </p>

            <h6>जनसंख्या: ३५७६</h6>
            <h6>वडाको सम्पर्क नम्बर: ९८४७८४९७७१</h6>

        </div>
        <div class="col-2">
            {% for ward9 in wards9 %}
            <div class="row text-center">
                <img src="/media/{{ward9.photo}}" class="py-2" height="200px" width="100px" alt="photo">
                <h6>{{ward9.name}}</h6>
                <p>{{ward9.post}}<br />
                    {{ward9.phone}}
                </p>
            </div>
            {% endfor %}
        </div>

    </div>
</div>

{% endblock ward9 %}