{% extends 'base.html' %}
{% block title %}ward12{% endblock title %}
{% block ward12 %}
{% load static %}
<div class="container">
    <div class="row">
        <div class="col-8">
            <h4>वडा नं. १२</h4>
        </div>
        <div class="col-4">
            <h4>पदाधिकारी / कर्मचारी</h4>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-8">
            <p>
                Submitted on: Mon, 03/05/2022 - 10:09
                नगरपालिकाको वडा नं. १२ साबिक बाँफुखोला गाउँ विकास समितिका वडाहरू १, २, ३, ४ र ५ मिलेर बनेको छ । वडा नं.
                १२ को क्षेत्रफल ११.३५ वर्गकिमि छ । वडा नं. १२ को डिजिटल सर्भेअनुसार कुल घरधुरी संख्या४१३ रहेको छ ।
                यसैगरी, बागचौर नगरपालिका वडा नं. १२ को कुल जनसंख्या२,४६३ रहेको छ । जसमा पुरुष १,१८२, महिला १,२८१ र अन्य
                शून्य रहेको छ । सर्भेअनुसार कुल साक्षर जनसंख्या१,५५० रहेको छ । साक्षर पुरुषको जनसंख्या८१० रहेको छ भने
                साक्षर महिलाको जनसंख्या७४० रहेको छ ।
                आलु उत्पादनमा विशेष मानिएको यो वडामा अदुवा, बेसार, टिमुर, मकै, गहुँ, बेमौसमी तरकारी खेतीका लागि पनि
                राम्रो मानिएको छ । वडामा बसोवास गर्ने व्यक्तिको मुख्य पेसा कृषि तथा पशुपंक्षीपालन रहेको छ । यसबाहेक
                व्यापार व्यवसाय तथा उद्योग, थोक तथा खुद्रा व्यापार, शिक्षण, वैदेशिक रोजगार, सरकारी सेवाका साथै होटल,
                पर्यटन तथा सेवाजस्ता आयआर्जनका पेसाबाट यहाँका जनताले जीविकोपार्जन गर्ने गर्छन् ।
            </p>

            <h6>जनसंख्या: २४६३</h6>
            <h6>वडाको सम्पर्क नम्बर: ९८६४३३२४८४</h6>

        </div>
        <div class="col-2">
            {% for ward12 in wards12 %}
            <div class="row text-center">
                <img src="/media/{{ward12.photo}}" class="py-2" height="200px" width="100px" alt="photo">
                <h6>{{ward12.name}}</h6>
                <p>{{ward12.post}}<br />
                    {{ward12.phone}}
                </p>
            </div>
            {% endfor %}
        </div>

    </div>
</div>

{% endblock ward12 %}